<%= form_for [:admin, @song] do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>



  <div class="field">
    <%= f.label :progress %>
    <%= f.text_field :progress %>
  </div>

  <p>
    <%= f.label :cover %><br />
    <%= f.file_field :cover %>
  </p>

  <p>Albums</p>

  <form action="/admin/add_album_song" method="post">
    <select name="album_id">
      <option selected disabled>Select one album</option>
      <% Album.all.each do |album_option| %>
        <% if  @song.albums.where(id: album_option.id).count == 0 %>
          <option value="<%=album_option.id%>"><%=album_option.title%></option>
        <%end%>
      <%end%>
    </select>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="song_id" value="<%=@song.id%>">
    <input type="submit" value="Add">
  </form>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>