<h1>List of songs</h1>
<table>
    <tr>
        <thead>
            <th>Title</th>
            <th>Duration</th>
            <th>Progress</th>
            <th>Rating</th>
            <th>Actions</th>
        </thead>
    </tr>
    <%@songs.each do |song| %>
    <tr>
        <td><%= song.title%></td>
        <td><%= song.duration%></td>
        <td><%= song.progress%></td>
        <td><%= song.rating%></td>
        <td>
            <%= link_to "Details", admin_song_path(song) %>
            <%= link_to "Update"%>
            <%= link_to "Delete"%>
        </td>
    </tr>
    <%end%>
</table>


<%= link_to 'New Song', new_admin_song_path %>