<h1><%= This is the @song number @song.id_song%>
<h1><%= @song.title %></h1>
<p><%= @song.duration %></p>
<p><%= @song.rating %></p>
<p><%= @song.progress %></p>

<%= link_to "Delete", api_song_path(@song), method: :delete, data: { confirm: "Do you really git want to delete this song?" } %>
<%= link_to "Songs List", api_song_path %>
<%= link_to "Edit", edit_api_song_path(@song)%>